extends layout
block content
    .container
        script.
            $(document).ready(function(){
                $('.typeChange').on('change', function(){
                    var trackDetails = this.value.split('-');
                    var track = trackDetails[0];
                    var type = trackDetails[1];
                    $.ajax({
                        method: "POST",
                        url: "changetype",
                        data: { track: track, type: type }
                    }).done(function(msg){
                        alert("Data Saved: " + msg);
                    });
                });

                $('#mergeTracks').click(function(){
                    var tracks = [];
                    var checkboxes = document.getElementsByClassName('trackSelect');
                    var link = '/merge?';
                    var checked = 0;
                    if(checkboxes){
                        for (var i = checkboxes.length - 1; i > 0 ; i--){
                            if (checkboxes[i].type == 'checkbox' && checkboxes[i].checked){
                                link += 'tracks=' + checkboxes[i].value + '&';
                                checked++;
                            }
                        }
                        if(checked == 2){
                            $(this).attr('href', link);
                        }else{
                            $("<div>You must select two tracks to merge.</div>").dialog({
                                title: 'Error',
                                resizable: false,
                                modal: true,
                                buttons: {
                                    'Ok': function(){
                                        $(this).dialog('close');
                                    }
                                }
                            });
                            return false;
                        }
                    } else {
                        $("<div>You must select two tracks to merge.</div>").dialog({
                            title: 'Error',
                            resizable: false,
                            modal: true,
                            buttons: {
                                'Ok': function(){
                                    $(this).dialog('close');
                                }
                            }
                        });
                        return false;
                    }
                });
                $('#deleteTracks').click(function(){
                    var tracks = [];
                    var checkboxes = document.getElementsByClassName('trackSelect');
                    var link = '/delete?';
                    var checked = 0;
                    if(checkboxes){
                        for (var i = checkboxes.length - 1; i > 0 ; i--){
                            if (checkboxes[i].type == 'checkbox' && checkboxes[i].checked){
                                link += 'tracks=' + checkboxes[i].value + '&';
                                checked++;
                            }
                        }
                        if(checked){
                            $(this).attr('href', link);
                        } else{
                            $("<div>You must select at least one track to delete.</div>").dialog({
                                title: 'Error',
                                resizable: false,
                                modal: true,
                                buttons: {
                                    'Ok': function(){
                                        $(this).dialog('close');
                                    }
                                }
                            });
                            return false;
                        }
                    } else {
                        $("<div>You must select at least one track to delete.</div>").dialog({
                            title: 'Error',
                            resizable: false,
                            modal: true,
                            buttons: {
                                'Ok': function(){
                                    $(this).dialog('close');
                                }
                            }
                        });
                        return false;
                    }
                });
            });
        div(id="alert" style='display:none').alert.alert-warning
            p You must select two tracks to merge.
        .row
            - if(Number(start) == 0){
                .col-md-1
                    a(role='button' href='http://soren625.duckdns.org:3001/?start=' + prev).btn.btn-primary.disabled
                        span.glyphicon.glyphicon-arrow-left
            - } else {
                .col-md-1
                    - var prev = Number(start) - 10
                    a(role='button' href='http://soren625.duckdns.org:3001/?start=' + prev).btn.btn-primary
                        span.glyphicon.glyphicon-arrow-left
            - }
            .col-md-1
                a(href='' role='button' id='mergeTracks').btn.btn-primary Merge
            .col-md-1
                a(href='' role='button' id='deleteTracks').btn.btn-primary Delete 
            - if(!lastPage){
                .col-md-1
                    - var next = Number(start) + 10
                    a(role='button' href='http://soren625.duckdns.org:3001/?start=' + next).btn.btn-primary
                        span.glyphicon.glyphicon-arrow-right
            - } else {
                .col-md-1
                    - var next = Number(start) + 10
                    a(role='button' href='http://soren625.duckdns.org:3001/?start=' + next).btn.btn-primary.disabled
                        span.glyphicon.glyphicon-arrow-right
            - }
        input(type='hidden').trackSelect
        - if(tracksListing.length > 0){
            .row
                .col-md-3
                    p.font-weight-bold Start Time
                .col-md-1
                    p.font-weight-bold Type
                .col-md-1
                    p.font-weight-bold Distance
                .col-md-3
                    p.font-weight-bold Start Location
                .col-md-3
                    p.font-weight-bold End Location
            each track in tracksListing
                - var dateAndTime = track.date.replace(/:00 GMT.*/, '')
                .row
                    .col-md-3
                        input(value= track.timestamp type='checkbox').trackSelect
                        |  
                        a(href='/' + track.timestamp) #{dateAndTime}
                    .col-md-1
                        select.typeChange
                            - if(track.type == 'walking'){
                                option(value=track.timestamp + '-walking', selected="selected") Walking
                                option(value=track.timestamp + '-driving') Driving
                            - }else{
                                option(value=track.timestamp + '-walking') Walking
                                option(value=track.timestamp + '-driving', selected="selected") Driving
                            - }
                    .col-md-1
                        p #{track.distance}
                    .col-md-3
                        p #{track.startAddress}
                    .col-md-3
                        p #{track.endAddress}
        - }else{
            p No tracks to display.
        - }
        .row
            - if(Number(start) == 0){
                .col-md-1
                    a(role='button' href='http://soren625.duckdns.org:3001/?start=' + prev).btn.btn-primary.disabled
                        span.glyphicon.glyphicon-arrow-left
            - } else {
                .col-md-1
                    - var prev = Number(start) - 10
                    a(role='button' href='http://soren625.duckdns.org:3001/?start=' + prev).btn.btn-primary
                        span.glyphicon.glyphicon-arrow-left
            - }
            .col-md-1
                a(href='' role='button' id='mergeTracks').btn.btn-primary Merge
            .col-md-1
                a(href='' role='button' id='deleteTracks').btn.btn-primary Delete 
            - if(!lastPage){
                .col-md-1
                    - var next = Number(start) + 10
                    a(role='button' href='http://soren625.duckdns.org:3001/?start=' + next).btn.btn-primary
                        span.glyphicon.glyphicon-arrow-right
            - } else {
                .col-md-1
                    - var next = Number(start) + 10
                    a(role='button' href='http://soren625.duckdns.org:3001/?start=' + next).btn.btn-primary.disabled
                        span.glyphicon.glyphicon-arrow-right
            - }
