extends layout
block content
    style.
        .row, .col-md-1, .col-md-2, .col-md-3, .col-md-4{
            height: 40px;    
        }
    script.
        $(document).ready(function(){
            $('.typeChange').on('change', function(){ 
                var tsAndType = this.value.split('-');
                var track = tsAndType[0];
                var type = tsAndType[1];
                if(type == '???'){
                    $('<div>You must select a valid type.</div>').dialog({
                        title: 'Error',
                        resizable: false,
                        modal: true,
                        buttons: {
                            'Ok': function(){
                                $(this).dialog('close');
                            }
                        }
                    });
                    return false;
                }
                $.ajax({
                    method: 'POST',
                    url: 'changetype',
                    data: { track: track, type: type }
                }).done(function(msg){
                    if(msg == 'OK'){
                        $('#'+track).effect('highlight', {color: '#65FB67'}, 1000);
                        $('#'+track).effect('highlight', {color: 'white'}, 1000);
                    } else if(msg == 'Error'){
                        $('#'+track).effect('highlight', {color: '#FF6E6C'}, 1000);
                        $('#'+track).effect('highlight', {color: 'white'}, 1000);
                    }
                    return;
                });
            });

            $('.mergeTracks').click(function(){
                var tracks = [];
                var checkboxes = document.getElementsByClassName('trackSelect');
                var checked = 0;
                if(checkboxes){
                    for (var i=0; i<checkboxes.length; i++){
                        if (checkboxes[i].checked){
                            tracks.push(checkboxes[i].value);
                            checked++;
                        }
                    }
                    if(checked == 2){
                        var ajaxData = JSON.stringify(tracks);
                        $.ajax({
                            method: 'POST',
                            url: 'merge',
                            data: {tracks : ajaxData} 
                        }).done(function(mergedTrack){
                            $(':checkbox:checked').each(function(){
                                this.click();
                            });
                            if(mergedTrack){
                                var trackId = tracks[0];
                                var pageTracks = !{JSON.stringify(tracksListing)};
                                var mergeIndex;
                                for(i=0;i<pageTracks.length;i++){
                                    if(pageTracks[i].timestamp === trackId){
                                        mergeIndex = i;
                                    }
                                }
                                $('#'+tracks[1]).remove();
                                $.ajax({
                                    method: 'POST',
                                    url: 'gettracks',
                                    data: {getStart :  Number(#{start})+Number(mergeIndex),
                                           getNumber : 1}
                                }).done(function(results){
                                    var results = JSON.parse(results);
                                    var start = results.start;
                                    var lastPage = results.lastPage;
                                    var tracksListing = results.tracksListing;
                                    var dateAndTime = tracksListing[0].date.replace(/:00 GMT.*/, '')
                                    $('#'+trackId).replaceWith( 
                                        '<div class="row" id="'+tracksListing[0].timestamp+'"><div class="col-md-3 col-xs-12"><input value="'+tracksListing[0].timestamp+'" type="checkbox" class="trackSelect" /><a href="/'+tracksListing[0].timestamp+'">'+dateAndTime+'</a></div><div class="col-md-1 col-xs-12"><select class="typeChange"><option>Walking</option><option>Driving</option><option>Boating</option></select></div><div class="col-md-2 col-xs-12"><p>'+tracksListing[0].distance+'</p></div><div class="col-md-3 col-xs-12"><p>'+tracksListing[0].startAddress+'</p></div><div class="col-md-3 col-xs-12"><p>'+tracksListing[0].endAddress+'</p></div></div>'
                                   ); 
                                });
                                $.ajax({
                                    method: 'POST',
                                    url: 'gettracks',
                                    data: {getStart :  Number(#{start})+9,
                                           getNumber : 1}
                                }).done(function(results){
                                    var results = JSON.parse(results);
                                    var start = results.start;
                                    var lastPage = results.lastPage;
                                    var tracksListing = results.tracksListing;
                                    var dateAndTime = tracksListing[0].date.replace(/:00 GMT.*/, '')
                                    $('.listingContainer').append( 
                                        '<div class="row" id="'+tracksListing[0].timestamp+'"><div class="col-md-3 col-xs-12"><input value="'+tracksListing[0].timestamp+'" type="checkbox" class="trackSelect" /><a href="/'+tracksListing[0].timestamp+'">'+dateAndTime+'</a></div><div class="col-md-1 col-xs-12"><select class="typeChange"><option>Walking</option><option>Driving</option><option>Boating</option></select></div><div class="col-md-2 col-xs-12"><p>'+tracksListing[0].distance+'</p></div><div class="col-md-3 col-xs-12"><p>'+tracksListing[0].startAddress+'</p></div><div class="col-md-3 col-xs-12"><p>'+tracksListing[0].endAddress+'</p></div></div>'
                                   ); 
                                });
                            }
                        });
                    }else{
                        $(':checkbox:checked').each(function(){
                            this.click();
                        });
                        $('<div>You must select two tracks to merge.</div>').dialog({
                            title: 'Error',
                            resizable: false,
                            modal: true,
                            buttons: {
                                'Ok': function(){
                                    $(this).dialog('close');
                                }
                            }
                        });
                        return false;
                    }
                } else {
                    $(':checkbox:checked').each(function(){
                        this.click();
                    });
                    $('<div>You must select two tracks to merge.</div>').dialog({
                        title: 'Error',
                        resizable: false,
                        modal: true,
                        buttons: {
                            'Ok': function(){
                                $(this).dialog('close');
                            }
                        }
                    });
                    return false;
                }
            });
            $('.deleteTracks').click(function(){
                var checkboxes = $('input:checkbox:checked').map(function(){
                                      return $(this).val();
                                      }).get();
                if(checkboxes.length > 0){
                    var ajaxData = JSON.stringify(checkboxes);
                    $.ajax({
                       method: 'POST',
                       url: 'delete',
                       data: {tracks : ajaxData}
                    })
                    .done(function(tracks){
                        $(':checkbox:checked').each(function(){
                            this.click();
                        });
                        var deletedTracks = JSON.parse(tracks);
                        for(i=0;i<deletedTracks.length;i++){
                            $('#'+deletedTracks[i]).remove();
                        }
                        $.ajax({
                            method: 'POST',
                            url: 'gettracks',
                            data: {getStart :  Number(#{start})+9,
                                   getNumber : checkboxes.length}
                        }).done(function(results){
                            var results = JSON.parse(results);
                            var start = results.start;
                            var lastPage = results.lastPage;
                            var tracksListing = results.tracksListing;
                            var appendTracks = '';
                            for(i=0;i<tracksListing.length;i++){
                                var dateAndTime = tracksListing[i].date.replace(/:00 GMT.*/, '')
                                appendTracks += '<div class="row" id="'+tracksListing[i].timestamp+'"><div class="col-md-3 col-xs-12"><input value="'+tracksListing[i].timestamp+'" type="checkbox" class="trackSelect" /><a href="/'+tracksListing[i].timestamp+'">'+dateAndTime+'</a></div><div class="col-md-1 col-xs-12"><select class="typeChange"><option>Walking</option><option>Driving</option><option>Boating</option></select></div><div class="col-md-2 col-xs-12"><p>'+tracksListing[i].distance+'</p></div><div class="col-md-3 col-xs-12"><p>'+tracksListing[i].startAddress+'</p></div><div class="col-md-3 col-xs-12"><p>'+tracksListing[i].endAddress+'</p></div></div>';
                            }
                            $('.listingContainer').append(appendTracks ); 
                        });
                    });
                }else{
                    $(':checkbox:checked').each(function(){
                        this.click();
                    });
                    $('<div>You must select at least one track to delete.</div>').dialog({
                        title: 'Error',
                        resizable: false,
                        modal: true,
                        buttons: {
                            'Ok': function(){
                                $(this).dialog('close');
                            }
                        }
                    });
                    return false;
                }
            });
        });
    body
        .container-fluid
            div(id='alert' style='display:none').alert.alert-warning
                p You must select two tracks to merge.
            .row
                - if(Number(start) == 0){
                    .col-md-1.col-xs-12
                        a(role='button' href='http://soren625.duckdns.org:3001/?start=' + prev).btn.btn-primary.disabled
                            span.glyphicon.glyphicon-arrow-left
                - } else {
                    .col-md-1.col-xs-12
                        - var prev = Number(start) - 10
                        a(role='button' href='http://soren625.duckdns.org:3001/?start=' + prev).btn.btn-primary
                            span.glyphicon.glyphicon-arrow-left
                - }
                .col-md-1.col-xs-12
                    button.btn.btn-primary.mergeTracks Merge
                .col-md-1.col-xs-12
                    button.btn.btn-primary.deleteTracks Delete 
                - if(!lastPage){
                    .col-md-1.col-xs-12
                        - var next = Number(start) + 10
                        a(role='button' href='http://soren625.duckdns.org:3001/?start=' + next).btn.btn-primary
                            span.glyphicon.glyphicon-arrow-right
                - } else {
                    .col-md-1.col-xs-12
                        - var next = Number(start) + 10
                        a(role='button' href='http://soren625.duckdns.org:3001/?start=' + next).btn.btn-primary.disabled
                            span.glyphicon.glyphicon-arrow-right
                - }
            - if(tracksListing.length > 0){
                .row
                    .col-md-3.col-xs-12
                        p.font-weight-bold Start Time
                    .col-md-1.col-xs-12
                        p.font-weight-bold Type
                    .col-md-2.col-xs-12
                        p.font-weight-bold Distance
                    .col-md-3.col-xs-12
                        p.font-weight-bold Start Location
                    .col-md-3.col-xs-12
                        p.font-weight-bold End Location
                .listingContainer
                    each track in tracksListing
                        - var dateAndTime = track.date.replace(/:00 GMT.*/, '')
                        .row(id=track.timestamp)
                            .col-md-3.col-xs-12
                                input(value=track.timestamp type='checkbox').trackSelect
                                |  
                                a(href='/' + track.timestamp) #{dateAndTime}
                            .col-md-1.col-xs-12
                                select.typeChange
                                    - if(track.type == 'walking'){
                                        option(value=track.timestamp + '-walking', selected='selected') Walking
                                        option(value=track.timestamp + '-driving') Driving
                                        option(value=track.timestamp + '-boating') Boating 
                                    - }else if(track.type == 'driving'){
                                        option(value=track.timestamp + '-walking') Walking
                                        option(value=track.timestamp + '-driving', selected='selected') Driving
                                        option(value=track.timestamp + '-boating') Boating
                                    - }else if(track.type == 'boating'){
                                        option(value=track.timestamp + '-walking') Walking
                                        option(value=track.timestamp + '-driving') Driving
                                        option(value=track.timestamp + '-boating', selected='selected') Boating
                                    - }else{
                                        option(value=track.timestamp + '-walking') Walking
                                        option(value=track.timestamp + '-driving') Driving
                                        option(value=track.timestamp + '-boating') Boating
                                        option(value=track.timestamp + '-???', selected='selected') ??? 
                                    - }
                            .col-md-2.col-xs-12
                                p #{track.distance}
                            .col-md-3.col-xs-12
                                p #{track.startAddress}
                            .col-md-3.col-xs-12
                                p #{track.endAddress}
            - }else{
                p No tracks to display.
            - }
            .row
                - if(Number(start) == 0){
                    .col-md-1.col-xs-12
                        a(role='button' href='http://soren625.duckdns.org:3001/?start=' + prev).btn.btn-primary.disabled
                            span.glyphicon.glyphicon-arrow-left
                - } else {
                    .col-md-1.col-xs-12
                        - var prev = Number(start) - 10
                        a(role='button' href='http://soren625.duckdns.org:3001/?start=' + prev).btn.btn-primary
                            span.glyphicon.glyphicon-arrow-left
                - }
                .col-md-1.col-xs-12
                    button.btn.btn-primary.mergeTracks Merge
                .col-md-1.col-xs-12
                    button.btn.btn-primary.deleteTracks Delete 
                - if(!lastPage){
                    .col-md-1.col-xs-12
                        - var next = Number(start) + 10
                        a(role='button' href='http://soren625.duckdns.org:3001/?start=' + next).btn.btn-primary
                            span.glyphicon.glyphicon-arrow-right
                - } else {
                    .col-md-1.col-xs-12
                        - var next = Number(start) + 10
                        a(role='button' href='http://soren625.duckdns.org:3001/?start=' + next).btn.btn-primary.disabled
                            span.glyphicon.glyphicon-arrow-right
                - }
