extends layout
block content
    style.
        html{
            height: 100%;
        }
        body{
            height: 100%;
        }
        .container{
            height: 100%;
        }
        #map{
            height: 50%;
            width: 100%;
            position: relative;
            margin-top: 15px;
        }
        .bold{
            font-weight: bold;    
        }
        #chartWrapper{
            height: 30%;
            width: 100%;
        }
        #trackChart{
            height: 100%;
            width: 100%;
        }
        #splitButton{
            float: right;
        }
    script.
        $(window).resize(function(){
            drawChart($("input:radio[name ='chartType']:checked").val());
            map.fitBounds(firstpolyline.getBounds());
        });
        $(document).ready(function(){
            $('input[type=radio][name=chartType]').change(function(){
                type = this.value;
                drawChart(type);
            });
            markersPosition = !{JSON.stringify(trackDetails.points)};
            markers = new Array();
            for(i=0;i<markersPosition.length; i++){
                var marker = L.marker([markersPosition[i].lat, markersPosition[i].lon]);
                markers.push(marker);
            }
        }); 
        $(function(){
            $("input").checkboxradio({
                icon: false
            });
        });
        var splitIndex;
        google.charts.load('current', {packages: ['corechart']});
        google.charts.setOnLoadCallback(drawChart);
        function drawChart(type){
            if(type == '' || type == null || type == 'time'){    
                data = new google.visualization.arrayToDataTable(!{timeDataSet});
                var formatter = new google.visualization.DateFormat({pattern: 'HH:mm'});
                formatter.format(data, 0);
                var options = {
                    title: 'Track Speed & Altitude by Time',
                    colors: ['blue', 'green'],
                    hAxis: {title: 'Time',  titleTextStyle: {color: '#333'}, format: 'HH:mm'},
                    series: {
                        0: {targetAxisIndex:0},
                        1: {targetAxisIndex:1}
                    },
                    vAxes: {
                        0: {title: 'MPH', minValue: 0},
                        1: {title: 'Feet', minValue: 0}
                    },
                    legend: {position: 'in'},
                    chartArea:{left:0, top:0, width: "100%", height: "100%"}
                };
            }
            else if(type == 'distance'){
                data = new google.visualization.arrayToDataTable(!{distDataSet});
                var options = {
                    title: 'Track Speed & Altitude by Distance',
                    colors: ['blue', 'green'],
                    hAxis: {title: 'Distance',  titleTextStyle: {color: '#333'}},
                    series: {
                        0: {targetAxisIndex:0},
                        1: {targetAxisIndex:1}
                    },
                    vAxes: {
                        0: {title: 'MPH', minValue: 0},
                        1: {title: 'Feet', minValue: 0}
                    },
                    legend: {position: 'in'},
                    chartArea:{left:0, top:0, width: "100%", height: "100%"}
                };
            }
            var trackChart = new google.visualization.AreaChart(document.getElementById('trackChart'));
            trackChart.draw(data, options);

            google.visualization.events.addListener(trackChart, 'select', function() {
                var selection = trackChart.getSelection();
                splitTrack = #{trackDetails.trackName};
                splitIndex = selection[0].row;
                $('#splitButton').removeClass('disabled').attr('href', '/split?track=' + splitTrack + '&index=' + splitIndex);

            });
            google.visualization.events.addListener(trackChart, 'onmouseover', function(e) {
                //showMarker(data, e.row);
            });
            google.visualization.events.addListener(trackChart, 'onmouseout', function(e) {
                //hideMarker(data, e.row);
            });
        }

        function showMarker(data, row) {
            if (row != null) {
                markers[row].addTo(map);
            }
        }

        function hideMarker(data, row) {
            if (row != null) {
                //markers[row].setMap(null);
            }
        }

    body
        .container
            a(href="/" role='button').btn.btn-primary 
                <span class="glyphicon glyphicon-arrow-left"></span> <span>Tracks</span>
            h2 #{trackDetails.dateString.replace(/:00 GMT.*/, '')} - #{trackDetails.type}
            span.font-weight-bold Plot speed and altitude by: &nbsp;
            label(for='radio-1') Time
            input(id="radio-1", type="radio", name="chartType", value="time" checked="checked")
            label(for='radio-2') Distance
            input(id="radio-2", type="radio", name="chartType", value="distance")
            a(href="/split" role='button' id="splitButton").btn.btn-primary.disabled
                span Split
            .row
                .col-md-3
                    p 
                        span.font-weight-bold Total Distance: 
                        | #{trackDetails.totalDistance}
                .col-md-3
                    p 
                        span.font-weight-bold Max Speed: 
                        | #{trackDetails.maxSpeed} MPH
                .col-md-3
                    p 
                        span.font-weight-bold Average Speed: 
                        | #{trackDetails.avgSpeed}
                .col-md-3
                    p 
                        span.font-weight-bold Moving Average: 
                        | #{trackDetails.movingAvg}
            .row
                .col-md-3
                    p 
                        span.font-weight-bold Elapsed Time: 
                        | #{trackDetails.elapsedTime}
                .col-md-3
                    p 
                        span.font-weight-bold Moving Time: 
                        | #{trackDetails.movingTime}
                .col-md-3
                    p &nbsp;
                .col-md-3
                    p &nbsp;
            div(id="chartWrapper")
                div(id="trackChart")
            div(id="map")

            script.
                mydata = !{JSON.stringify(trackDetails.points)};
                var pointList = [];
                var maxLon = Number(mydata[0].lon);
                var minLon = Number(mydata[0].lon);
                var maxLat = Number(mydata[0].lat);
                var minLat = Number(mydata[0].lat);
                for(i=0;i<mydata.length;i++){
                    maxLon = Number(mydata[i].lon) > maxLon ? Number(mydata[i].lon) : maxLon;
                    minLon = Number(mydata[i].lon) < minLon ? Number(mydata[i].lon) : minLon;
                    maxLat = Number(mydata[i].lat) > maxLat ? Number(mydata[i].lat) : maxLat;
                    minLat = Number(mydata[i].lat) < minLat ? Number(mydata[i].lat) : minLat;

                    pointList.push(new L.latLng(mydata[i].lat, mydata[i].lon));
                }
                var centerLon = ((maxLon - minLon) / 2) + minLon;
                var centerLat = ((maxLat- minLat) / 2) + minLat;
                var trackMap = L.map('map').setView([centerLat, centerLon], 13);

                L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=pk.eyJ1IjoicnV0dGlubXVkZGVyIiwiYSI6ImNqazJuOWgwcTB1N3Iza3FrNGU1YjVqcDMifQ.vi-wo8KxgDglYrQKtBbGqA', {
                    attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
                    maxZoom: 18,
                    id: 'mapbox.streets'
                }).addTo(trackMap);

                var firstpolyline = new L.Polyline(pointList, {
                    color: 'red',
                    weight: 3,
                    opacity: 0.5,
                    smoothFactor: 1
                });

                var startMarker = L.marker(pointList[0]);
                var endMarker = L.marker(pointList[pointList.length-1]);

                firstpolyline.addTo(trackMap); 
                trackMap.fitBounds(firstpolyline.getBounds());
                startMarker.addTo(trackMap);
                endMarker.addTo(trackMap);
