extends layout
block content
    style.
        html{
            height: 100%;
            width: 100%;
        }
        body{
            height: 100%;
            width: 100%;
        }
        #map{
            height: 50%;
            width: 70%;
            position: absolute;
            text-align: center;
            margin: auto;
            margin-top: 30px;
        }
        .bold{
            font-weight: bold;    
        }
        .container{
            width: 80%;
            height: 100%;
        }
        chartWrapper{
            height: 100%;
            width: 100%;
            margin:auto;
            text-align:center;
        }
        trackChart{
            height: 100%;
            width: 100%;
            margin:auto;
            text-align:center;
        }
    script.
        $(window).resize(function(){
                drawChart();
        });
        google.charts.load('current', {packages: ['corechart']});
        google.charts.setOnLoadCallback(drawChart);
        function drawChart() {
            var data = new google.visualization.arrayToDataTable(!{dataSet});
            var formatter = new google.visualization.DateFormat({pattern: 'HH:mm'});
            formatter.format(data, 0);
            var options = {
                title: 'Track Speed & Altitude',
                colors: ['blue', 'green'],
                hAxis: {title: 'Time',  titleTextStyle: {color: '#333'}, format: 'HH:mm'},
                series: {
                    0: {targetAxisIndex:0},
                    1: {targetAxisIndex:1}
                },
                vAxes: {
                    0: {title: 'MPH', minValue: 0},
                    1: {title: 'Feet', minValue: 0}
                },
                legend: {position: 'in'},
                chartArea:{left:0, top:0, width: "100%", height: "100%"}
                };
            var trackChart = new google.visualization.AreaChart(document.getElementById('trackChart'));
            trackChart.draw(data, options);
        }

        function initMap() {
            var map = new google.maps.Map(document.getElementById('map'), {
                mapTypeId: 'terrain'

            });

            var markers = #{trackDetails.latLon};
            var bounds = new google.maps.LatLngBounds();
            for(i=0;i<markers.length;i++) {
                bounds.extend(markers[i]);
            }

            map.setCenter(bounds.getCenter());
            map.fitBounds(bounds);
            //map.setZoom(map.getZoom()-1);

            var startMarker = new google.maps.Marker({
                    position: #{trackDetails.trackStart},
                    map: map,
                    title: 'Start',
                    label: 'A'
                });

            var endMarker = new google.maps.Marker({
                    position: #{trackDetails.trackEnd},
                    map: map,
                    title: 'End',
                    label: 'B'
                });

            var trackCoordinates = #{trackDetails.latLon};

            var trackPath = new google.maps.Polyline({
                path: trackCoordinates,
                geodesic: false,
                strokeColor: '#FF0000',
                strokeOpacity: 1.0,
                strokeWeight: 2
            });

            trackPath.setMap(map);
        }

    .container
        a(href="http://soren625.duckdns.org:3001" role='button').btn.btn-primary 
            <span class="glyphicon glyphicon-arrow-left"></span> <span>Tracks</span>
        h2 #{trackDetails.dateString.replace(/:00 GMT.*/, '')} - #{trackDetails.type}
        .row
            .col-md-3
                p 
                    span.font-weight-bold Total Distance: 
                    | #{trackDetails.totalDistance}
            .col-md-3
                p 
                    span.font-weight-bold Max Speed: 
                    | #{trackDetails.maxSpeed} MPH
            .col-md-3
                p 
                    span.font-weight-bold Average Speed: 
                    | #{trackDetails.avgSpeed}
            .col-md-3
                p 
                    span.font-weight-bold Moving Average: 
                    | #{trackDetails.movingAvg}
        .row
            .col-md-3
                p 
                    span.font-weight-bold Elapsed Time: 
                    | #{trackDetails.elapsedTime}
            .col-md-3
                p 
                    span.font-weight-bold Moving Time: 
                    | #{trackDetails.movingTime}
            .col-md-3
                p &nbsp;
            .col-md-3
                p &nbsp;
        div(id="chartWrapper")
            div(id="trackChart")
        div(id="map")
        script(src!='https://maps.googleapis.com/maps/api/js?key=' + mapApiKey +'&callback=initMap')
